.spellSelector {
    background: none;
    border-color: transparent;
    transform: unset !important;
    position: relative;
}

.spellSelector::before {
    content: "";
    background-color: var(--locked);
    border: 2px solid rgba(0, 0, 0, 0.125);
    z-index: 0;
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    border-radius: inherit;
    transition: background-color 0.5s;
}

.spellSelector.can::before {
    background-color: var(--layer-color);
}

.spellSelector::after {
    content: url(../../../public/android-chrome-192x192.png);
    clip-path: inset(2px 44px 47px 2px);
    z-index: 1;
    position: absolute;
    top: -2px;
    left: -2px;
    opacity: 0;
    transition: opacity 0.5s;
}

.spellSelector.activeSpell::after {
    opacity: 1;
}

.spellSelector > span > * {
    z-index: 2;
    position: relative;
}

.spell-level {
    position: absolute !important;
    top: calc(100% + var(--feature-margin));
    left: 0;
    right: 0;
    background: var(--tooltip-background);
    border-radius: var(--border-radius);
    color: var(--foreground);
}

.spell-exp {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: calc(var(--exp));
    background-color: #b949de;
    border-radius: var(--border-radius);
    z-index: -1;
    transition-duration: 0;
}

.spell-node {
    border-radius: var(--border-radius) !important;
    background: var(--locked);
    width: 75px !important;
    height: 80px !important;
    box-shadow: inset black 0 0 20px;
    border: 2px solid rgba(0, 0, 0, 0.125);
    padding: 10px !important;
    z-index: 1;
}

.spell-node.can {
    box-shadow: inset black 0 0 20px, 0 0 10px #b949de;
}

.spell-node.can:hover {
    transform: none;
    box-shadow: inset black 0 0 0px, 0 0 20px #b949de;
}

.spell-node.bought {
    box-shadow: inset black 0 0 0px;
}

.spell-node:not(.can) {
    cursor: not-allowed;
}

.treeNode.spell-node > *:first-child {
    font-size: 10px !important;
    box-shadow: unset !important;
    border: none !important;
    color: var(--feature-foreground) !important;
    text-transform: none !important;
}

.subtitle {
    font-size: small;
}

.chargeBar .border {
    border-color: #B949DE !important;
}

/* Visual glitch that doesn't seem to appear on all bars??? */
.chargeBar .fill {
    margin-top: -1px;
    height: 21.5px !important;
}

.chargeBar .fill::after {
    content: "";
    position: absolute;
    top: -500px;
    left: -500px;
    right: -500px;
    bottom: -500px;
    background-color: #B949DE !important;
    background-image:
        radial-gradient(#F545ED, #F545ED33 30px, transparent 40px),
        radial-gradient(#6442EB, #6442EB26 20px, transparent 30px),
        radial-gradient(#9945F5, #9945F519 40px, transparent 40px),
        radial-gradient(#EB428F, #EB428F19 10px, transparent 30px);
    background-size: 220px 220px, 140px 140px, 100px 100px, 60px 60px;
    background-position: calc(var(--time) / 10) calc(var(--time) / 20), calc(var(--time) / 7 + 4px) calc(var(--time) / -14 + 6px), calc(var(--time) / 1.1 + 13px) calc(var(--time) / -2.2 + 27px), calc(var(--time) / 4 + 7px) calc(var(--time) / 8 + 10px);
    transform: rotate(var(--time-deg));
}
