.spellSelector {
    background: none;
    border-color: transparent;
    transform: unset !important;
    position: relative;
}

.spellSelector::before {
    content: "";
    background-color: var(--locked);
    border: 2px solid rgba(0, 0, 0, 0.125);
    z-index: 0;
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    border-radius: inherit;
    transition: background-color 0.5s;
}

.spellSelector.can::before {
    background-color: var(--layer-color);
}

.spellSelector::after {
    content: url(../../../public/android-chrome-192x192.png);
    clip-path: inset(2px 44px 47px 2px);
    z-index: 1;
    position: absolute;
    top: -2px;
    left: -2px;
    opacity: 0;
    transition: opacity 0.5s;
}

.spellSelector.activeSpell::after {
    opacity: 1;
}

.spellSelector > span > * {
    z-index: 2;
    position: relative;
}

.spell-level {
    position: absolute !important;
    top: calc(100% + var(--feature-margin));
    left: 0;
    right: 0;
    background: var(--tooltip-background);
    border-radius: var(--border-radius);
    color: var(--foreground);
}

.spell-exp {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: calc(var(--exp));
    background-color: #b949de;
    border-radius: var(--border-radius);
    z-index: -1;
    transition-duration: 0;
}

.spell-node {
    border-radius: var(--border-radius) !important;
    background: var(--locked);
    width: 75px !important;
    height: 75px !important;
    box-shadow: inset black 0 0 20px;
    border: 2px solid rgba(0, 0, 0, 0.125);
    padding: 10px !important;
    z-index: 1;
}

.spell-node.can {
    box-shadow: inset black 0 0 20px, 0 0 10px #b949de;
}

.spell-node.can:hover {
    transform: none;
    box-shadow: inset black 0 0 0px, 0 0 20px #b949de;
}

.spell-node.bought {
    box-shadow: inset black 0 0 0px;
}

.spell-node:not(.can) {
    cursor: not-allowed;
}

.treeNode.spell-node > *:first-child {
    font-size: 10px !important;
    box-shadow: unset !important;
    border: none !important;
    color: var(--feature-foreground) !important;
    text-transform: none !important;
}

.subtitle {
    font-size: small;
}
